body {
    font-family: Arial, sans-serif;
    background-color: #ffe4e1;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin-top: 50px;
    
}

h1 {
    color: #ff69b4;
    font-size: 2.5em;
}

img {
    width: 200px;
    margin: 20px 0;
}

.botao {
    background-color: #ff69b4;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.botao:hover {
    background-color: #ff1493;
}

.cont_form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;

}

.cont_form form {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}


.input {
    padding: 10px;
    border: 2px solid #ff69b4;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 10px;
}

button {
    background-color: #ff69b4;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}

header{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}